* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.samir {
  width: 100px;
  height: 100px;
  background-color: aqua;
  animation-name: MMMMM;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.samir:hover {
  animation-play-state: paused;
}
@keyframes MMMMM {
  0% {
    transform: translateX(0px);
  }
}
